<div class="main-block">
<div class="hobby-block">
    <div class="hobby-name">
        <h1>{{amazingHobby.name}}</h1>
    </div>
    <div>
        <img class="hobby-image" src="{{amazingHobby.mainImgSrc}}"/>
    </div>
    <div class="description">
        <p >{{amazingHobby.description}}</p>
    </div>
    
</div>
<div class="person-block">
    <h3>Famous person who is fond of this hobby</h3>
    <h3>{{amazingHobby.famoustPerson.name}} {{amazingHobby.famoustPerson.lastName}}</h3>
    <img class="person-mage" src="{{amazingHobby.famoustPerson.photo}}"/>
</div>
</div>
