<div class="main-resume">
    <div class="main-info">
        <h1>{{DominicResumeData.name}}</h1>
        <h2>{{DominicResumeData.lastName}} </h2>
        <img class="photo" src="{{DominicResumeData.photo}}"/>        
    </div>
    <div class="about-person">
        
        <h2>Address: {{DominicResumeData.address}} </h2>
        <h3>Email: {{DominicResumeData.email}} </h3>
        <h3>Phone : {{DominicResumeData.phone}} </h3>
        <p></p>
        <h3>Certificates :</h3>
        <app-certificates></app-certificates>
        <p></p>
        <h3>Salary : {{ DominicResumeData.salary| currency}}</h3>
        <h3 *ngIf="DominicResumeData.power!= -1">Power : {{DominicResumeData.power| percent }}</h3>
        
        <h3>Expearens :</h3>
        
        <ul>
            <li *ngFor="let item of DominicResumeData.experience">
                {{item}}
            </li>
        </ul>

        <div [ngSwitch]="DominicResumeData.experience.length">
            <p *ngSwitchCase="0">little work experience</p>
            <p *ngSwitchCase="1">little work experience</p>
            <p *ngSwitchCase="2">normal work experience</p>
            <p *ngSwitchCase="3">normal work experience</p>
            <p *ngSwitchDefault>high work experience</p>
          </div>

        <p></p>
        <h3>Skills :</h3>
        <ul>
            <li *ngFor="let item of DominicResumeData.skills">
                {{item}}
            </li>
        </ul>
        <p>Links :</p>
        <ul>
            <li *ngFor="let item of DominicResumeData.links">
                {{item}}
            </li>
        </ul>
        
        
        

    </div>
</div>
